
body {
    font-family: Helvetica, sans-serif;
    color:#79095d;
    background-color:#ebc3;
   
}


header {
    background-color: #d085b0;
    color: #79095d;
}


footer {
    background-color: #d085b0;
    color: #79095d;
    
}